<!DOCTYPE html>
    <head>
	<title>JP Beauty Salon</title>
	<!--<link rel="stylesheet" href="styles.css">-->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesV3.css') }}">
	</head>
	
    <body>
        <header>
            <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='JPJCLogo.jpeg') }}" width="100" height=""/> </a>
            <nav>
                <ul class="linking">
					<li><a href="{{url_for('addmember')}}">Add Member</a></li>
					<li><a href="{{url_for('updatemember')}}">Update Member</a></li>
					<li><a href="{{url_for('addtransaction')}}">Add Transaction</a></li>
					<li><a href="{{url_for('viewtransaction')}}">View Daily Transactions</a></li>
					<li><a href="{{url_for('viewrevenue')}}">View Monthly Revenue</a></li>
					<li><a href="{{url_for('viewhistory')}}">View Transaction History</a></li>
				</ul>
            </nav>
            
        </header>
		
		<p><img src="{{ url_for('static', filename='JPLogo.jpg') }}" width="486" height="112" /></p>
       
    </body>

<div id="mainContent">
	<p>{{ updatemsg }}
	</p>
	<form action="{{ url_for('updatemember') }}">
		<input type="submit" value="Update Member">
	</form>
	<br>
    <form action="{{ url_for('home') }}">
		<input type="submit" value="Go to Home">
	</form>
</div>
 

</html>
