<!DOCTYPE html>
    <head>
	<title>JP Beauty Salon</title>
	<!--<link rel="stylesheet" href="styles.css">-->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesV3.css') }}">
	</head>
	
    <body>
        <header>
            <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='JPJCLogo.jpeg') }}" width="100" height=""/> </a>
            <nav>
                <ul class="linking">
					<li><a href="{{url_for('addmember')}}">Add Member</a></li>
					<li><a href="{{url_for('updatemember')}}">Update Member</a></li>
					<li><a href="{{url_for('addtransaction')}}">Add Transaction</a></li>
					<li><a href="{{url_for('viewtransaction')}}">View Daily Transactions</a></li>
					<li><a href="{{url_for('viewrevenue')}}">View Monthly Revenue</a></li>
					<li><a href="{{url_for('viewhistory')}}">View Transaction History</a></li>
				</ul>
            </nav>
            
        </header>
		
		<p><img src="{{ url_for('static', filename='JPLogo.jpg') }}" width="486" height="112" /></p>
       
    </body>

<div id="mainContent">

    <br>
	<form action="{{ url_for('viewingrevenue') }}" method="POST">

    Year (yyyy)&ensp;&ensp; <input name = 'year' placeholder = "Enter Year">
	<br><br> <!--enspace only takes up 0.5pt-->
	Month (mm)&ensp;&ensp; <input name = 'month' placeholder = "Enter Month">
	<br><br>

    <input type="submit" value = "Enter">
    </form>
	<br>
	<form action="{{ url_for('home') }}">
		<input type="submit" value="Go to Home">
	</form>
    <p>&nbsp;</p> <!--non break space-->
    <p>&nbsp;</p>
</div>
  


</html>
