<!DOCTYPE html>
    <head>
	<title>JP Beauty Salon</title>
	<!--<link rel="stylesheet" href="styles.css">-->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesV3.css') }}">
	</head>
	
    <body>
        <header>
            <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='JPJCLogo.jpeg') }}" width="100" height=""/> </a>
            <nav>
                <ul class="linking">
					<li><a href="{{url_for('addmember')}}">Add Member</a></li>
					<li><a href="{{url_for('updatemember')}}">Update Member</a></li>
					<li><a href="{{url_for('addtransaction')}}">Add Transaction</a></li>
					<li><a href="{{url_for('viewtransaction')}}">View Daily Transactions</a></li>
					<li><a href="{{url_for('viewrevenue')}}">View Monthly Revenue</a></li>
					<li><a href="{{url_for('viewhistory')}}">View Transaction History</a></li>
				</ul>
            </nav>
            
        </header>
		
		<p><img src="{{ url_for('static', filename='JPLogo.jpg') }}" width="486" height="112" /></p>
       
    </body>
<div id="mainContent">

	<!--<p>{{ createmsg }}-->
	</p>
	
	<table border="2" bgcolor = "#48AAAD" bordercolor = "#016064" border-spacing: 2px>
       <tr bgcolor="016064">
          <td><font color="#151E3D"><div align="center"><strong>Name</strong></div></td>
          <td><font color="#151E3D"><div align="center"><strong>InvoiceNo</strong></div></td>
          <td><font color="#151E3D"><div align="center"><strong>TotalAmount(S$)</strong></div></td>
          <td><font color="#151E3D"><div align="center"><strong>Date</strong></div></td>
          <td><font color="#151E3D"><div align="center"><strong>MemberID</strong></div></td>
        </tr>
      {% for row in rows %}
 
      <tr>
	  
		<td font color="#022D36">{{ row[0] }}</td>
        <td font color="#022D36">{{ row[1] }}</td>
        <td font color="#022D36">{{ row[2] }}</td>
        <td font color="#022D36">{{ row[3] }}</td>
		<td font color="#022D36">{{ row[4] }}</td>
      </tr>
      {% endfor %}
	</table>
  
	
	<br>
    <form action="{{ url_for('home') }}">
		<input type="submit" value="Go to Home">
	</form>
</div>


</html>
